In [2]:
league_id = '008da363-45af-4a07-87d2-f22567e27213'

from get_summoner_ids_from_league_id import get_summoner_ids_from_league_id
summoner_ids = get_summoner_ids_from_league_id(league_id)

from get_puuid_by_summon_id import get_puuid_by_summon_id
puuid = get_puuid_by_summon_id(summoner_ids[0])

from get_match_ids_by_puuid import get_match_ids_by_puuid
match_ids = get_match_ids_by_puuid(puuid)

from get_match_timeline import get_match_timeline
match_timeline = get_match_timeline(match_ids[0])

from extract_events_from_timeline import extract_events_from_timeline
timeline_events = extract_events_from_timeline(match_timeline)

In [7]:
# Store game end realTimestamp and remove column
game_end_timestamp = timeline_events['realTimestamp'][0]
df = timeline_events.drop(columns='realTimestamp', axis=1)

In [34]:
import os

event_types = df['type'].unique()
output_dir = 'event_csv_files'

# Create the new directory to save the CSV files
os.makedirs(output_dir, exist_ok=True)

event_dict = {}

for event_type in event_types:
    event_df = df[df['type'] == event_type]

    # Drop columns with no non-NaN values and drop the redundant 'type' column
    event_df = event_df.dropna(axis=1, how='all').drop(columns=['type'])

    output_file_path = os.path.join(output_dir, f"{event_type}.csv")
    event_df.to_csv(output_file_path, index=False)
    event_dict[event_type] = event_df

In [31]:
event_dict.keys()

dict_keys(['PAUSE_END', 'SKILL_LEVEL_UP', 'ITEM_PURCHASED', 'WARD_PLACED', 'LEVEL_UP', 'ITEM_DESTROYED', 'CHAMPION_KILL', 'CHAMPION_SPECIAL_KILL', 'ELITE_MONSTER_KILL', 'TURRET_PLATE_DESTROYED', 'WARD_KILL', 'ITEM_UNDO', 'ITEM_SOLD', 'BUILDING_KILL', 'OBJECTIVE_BOUNTY_PRESTART', 'GAME_END'])

In [35]:
event_dict['LEVEL_UP']

     timestamp  participantId  level
42      111318            7.0    2.0
43      111784            2.0    2.0
47      127155            8.0    2.0
51      134466            6.0    2.0
53      135831            1.0    2.0
..         ...            ...    ...
765    1533158            9.0   14.0
770    1544625            2.0   13.0
775    1556004           10.0   12.0
792    1608534            9.0   15.0
798    1615653            5.0   12.0

[127 rows x 3 columns]