In [1]:
import json
import pandas as pd

league_id = '008da363-45af-4a07-87d2-f22567e27213'

from get_summoner_ids_from_league_id import get_summoner_ids_from_league_id
from get_puuid_by_summon_id import get_puuid_by_summon_id
from get_match_ids_by_puuid import get_match_ids_by_puuid
from get_match_timeline import get_match_timeline
from extract_events_from_timeline import extract_events_from_timeline

# Create rate limiter and get initial PUUids list

In [8]:
import time

class RateLimiter:
    def __init__(self, max_requests, period):
        self.max_requests = max_requests
        self.period = period
        self.timestamps = []

    def __call__(self):
        now = time.time()
        self.timestamps = [ts for ts in self.timestamps if ts > now - self.period]

        if len(self.timestamps) < self.max_requests:
            self.timestamps.append(now)
        else:
            oldest_request = min(self.timestamps)
            time_to_wait = self.period - (now - oldest_request)
            time.sleep(time_to_wait)
            self.timestamps.append(time.time())

rl_sec = RateLimiter(20, 1)  # 20 requests per 1 second
rl_min = RateLimiter(100, 120)  # 100 requests per 2 minutes

puuids = []
while len(puuids) < 20: 
    rl_sec()  # Apply rate limiting
    rl_min()  # Apply rate limiting

    summoner_ids = get_summoner_ids_from_league_id(league_id)
    
    for summoner_id in summoner_ids:
        rl_sec()  # Apply rate limiting
        rl_min()  # Apply rate limiting
        
        puuid = get_puuid_by_summon_id(summoner_id)
        puuids.append(puuid)

        if len(puuids) >= 20:
            break
    
print(f"Total puuids: {len(puuids)}")
print(puuids)


pd.DataFrame(puuids).to_csv('puuids.csv')

Total puuids: 20
['rOra4jm75Nj0y4-_7D7MVRfiBlpBXhpSonyI0rwwFacc0uV9fg2HC7PgC_nNJZ1WCXFL_EfTBrDLwQ', 'Cw5DTp0JHNYPKCvhFtw17wdGaFimvHUUckg4Fx8w2ZvYK7v9_mZtKHDOpInEGjGO5-5FZzFna-dDHg', 'ox60Cqe2-_wa_jLEVoy241kruFzWrD12QJd-RkxeBP5Mt3Kx5GA54dhPgfDTVtYnH7XbneQFgNi8aQ', 'RHZ59BUcE3vQxkwW_6x1sDkSXAjD9iR50Exf1nWDYYOzJdtpolEijub4KBwiqxamQYxUCfsRz2Ub9w', 'wwCb2LqGsnZUzOMCfC-YdN4tLb2SuPOwhw6yWPezsU9vG7FKoMGkazxBeWG_ebFYsynU6uQ70fqBuw', 'lnMmSlO27sHd6L0HgrYS5ivq8XMQDocSZytgMXsqMeu0dg3BiGxzfH7DGxAcBpuFpUDFIoDylKtvCg', 'rM1y8szWrtdn5qzlF-EA6S1jGpsZ65OC_4_6eaqmP26I5C8y2G-Z8wyqAc3G6RLCfJ9hTBBkSGMLFA', 'wylRJstyPPKMByoq_c4X59sItxo_Qhje0gXRZfQyl__YAa4O8OsjRhWpaNWTJ_byPdoLhalGzyyf3A', 'aFC0kPZY3mGhs0c-MT5blLeSuKiGzr9E9HJI9xEETp6piIgvNdYzx_xWo8f7emBqSmP_C6chMaVrvg', 'QH2QxpwEEEd0_BMQq1iydfZkVpVhDtCwe7QYeyNwd1vv5BWKJmlv2oYQuo_6phOOBKwB6U4ir6f2zA', '4aoPz1JnVaW0nY9N3rC-TwPR_5OORYX56Gpn2HDwe07bxrnT8yBIa1pof8FgL-eZ8aYGA9hYc8S8nQ', 'vRz9RPnMQ7uwkTVnNBZEF0F2ghwP9T_Xs_3hxKBdVrb4w0RSk3BTmbkGd4K866TivqC0G_9aVKJhwg', 'H6QXkKzG7TgF524kZ0MNrcoMml3eune4IKVJAUY35ohjOaRQLy9sADkuglaW1DioYddX91wMjfBrPg', 'dwHeQMe87Gk51H_Kt_l5liaL4DZzgvKHqq-JKh0nOAQr2NxgCYInHS_0nETXwnJi7bZyneH_2wa9EA', 'DkxQ68jV6rb6hysTEyTCqXVkhUmKENbxANRA_zFWFzIwBHC2SmaRKX0ROqscFWaHgIeOR4W1iZQYgQ', 'lzT0So0sqFsQwqoMaIZEOdUeE7mTv7arTZ3S2fAdLAWkOb3-Hb__sd7HmgkWQuIzVD89R1hvnV_gJw', 'ITZZG7kk0Mas2xl7Jjwn9x8Ag1zl2m-2J700qB-SFsitWWgK8hJaXPIJh-ZPVPrKicy8XXux1fsnQw', 'pSliE-6MJZQZJ1LxGAR7yHdzwV86M9a8Ioa9ag20kL_bkga1Ve6ziEJeGx4XYG8i82Y7Es-_OrBCZA', 'esNmP-koa3RwY93MUS-6P7yYx1YvA3KUB6232zT5SF3WzUD-E1lOqDq-0uwShYT3IlGJ6MIh4piYKw', '86n-VeifcqXCuziCU_3rTLrFHttMOh1wG3hrUtA33NBeYdP4cVH03orXVS0MIUE4yTG4oxaCnLqPrg']

# Get matchIds from PUUids

In [17]:
import random
import pandas as pd

# Create dict to hold match timelines
match_tl_dict = {}

# Create list to hold selected match IDs
selected_match_ids_list = []

# Iterate over PUUIDs
for puuid in puuids:
    # Apply rate limiting
    rl_sec()
    rl_min()

    # Get match IDs for each PUUID
    match_ids = get_match_ids_by_puuid(puuid)
    
    # Randomly select 10 (or up to 10) matches
    selected_match_ids = random.sample(match_ids, min(10, len(match_ids)))

    # Add selected match IDs to the list
    selected_match_ids_list.extend(selected_match_ids)

# Convert the list of selected match IDs to a DataFrame and save as CSV
pd.DataFrame(selected_match_ids_list, columns=['match_id']).to_csv('selected_match_ids.csv')
print('match_ids complete')

match_ids complete

# Get matchtimelines and save as JSON

In [19]:
import json
import os

# Create the 'match_timeline' folder if it doesn't exist
if not os.path.exists('match_timelines'):
    os.makedirs('match_timelines')

# Get match timelines
for match_id in selected_match_ids_list:
    # Apply rate limiting
    rl_sec()
    rl_min()

    # Get match timeline
    match_timeline = get_match_timeline(match_id)

    # Store the match timeline JSONs
    match_tl_dict[match_id] = match_timeline

    # Save the JSON data to a file inside the 'match_timeline' folder
    with open(os.path.join('match_timelines', f'{match_id}.json'), 'w') as json_file:
        json.dump(match_timeline, json_file)

# connect to postgresql

In [44]:
from sqlalchemy import text
from sqlalchemy.exc import OperationalError
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker, relationship

def read_txt(filename):
    with open(filename, 'r') as file:
        return file.read().strip()

password = read_txt('postgres_pw.txt')
host = 'localhost'
database_name = 'loldb'
port = '5432'
engine = create_engine(f'postgresql://postgres:{password}@{host}:{port}/{database_name}')

# Try connecting and executing a simple query
try:
    with engine.connect() as connection:
        result = connection.execute(text("SELECT 1"))
        print("Successfully connected!")
except OperationalError as e:
    print(f"Connection failed: {e}")

from sqlalchemy import create_engine, MetaData

# Get the metadata of the database
metadata = MetaData()
metadata.reflect(bind=engine)

# List all table names
table_names = metadata.tables.keys()

print("Tables in the database:")
for table_name in table_names:
    print(table_name)

Successfully connected!
Tables in the database:
MATCH_TIMELINE

# Split JSONs into tables and load to postgreSQL

In [53]:
import psycopg2

# Connect to the PostgreSQL database
conn = psycopg2.connect(
    host="your_host",
    database="loldb",
    user="your_username",
    password="your_password"
)

# Get the table schema information
cursor = conn.cursor()
cursor.execute("SELECT table_schema, table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE'")
table_names = cursor.fetchall()

# Print the table names
for table_schema, table_name in table_names:
    print(f"Table Schema: {table_schema}, Table Name: {table_name}")

# Close the cursor and connection
cursor.close()
conn.close()

OperationalError: connection to server at "your_host" (143.244.220.150), port 5432 failed: Connection timed out
	Is the server running on that host and accepting TCP/IP connections?

In [48]:
from sqlalchemy import text
from sqlalchemy.exc import OperationalError

try:
    with engine.connect() as connection:
        result = connection.execute(text('SELECT * FROM "MATCH_TIMELINE"'))
        print("Successfully connected!")

        # Fetch all records and print them
        rows = result.fetchall()

        if not rows:
            print("The table is empty. No records to fetch.")
        else:
            for row in rows:
                print(row)

except OperationalError as e:
    print(f"Connection failed: {e.orig}")

Successfully connected!
The table is empty. No records to fetch.

In [52]:
import os
import json
from sqlalchemy import create_engine, Table, Column, Integer, String, JSON, MetaData
from sqlalchemy.sql import insert

# Define the table structure
metadata = MetaData()
match_timeline_table = Table(
    'MATCH_TIMELINE',
    metadata,
    Column('id', Integer, primary_key=True, autoincrement=True),
    Column('region', String, nullable=False),
    Column('match_id', Integer, nullable=False),
    Column('timeline_json', JSON, nullable=False)
)

# Create the table in the database (if it doesn't exist)
metadata.create_all(engine)

total_rows_added = 0

# Connect to the database
with engine.connect() as connection:

    # Loop through each file in the match_timelines directory
    for filename in os.listdir('match_timelines'):

        # Ensure the file is a JSON file
        if filename.endswith('.json'):

            # Extract the region and match_id from the filename
            region, match_id = filename.split('_') # Changed this line
            match_id = match_id.split('.')[0]

            # In case the match_id in the filename is not a valid integer,
            # ignore this file and move on to the next one
            try:
                match_id = int(match_id)
            except ValueError as e:
                print(f"ValueError occurred: {e}")
                continue

            # Open the file and load the JSON data
            with open(os.path.join('match_timelines', filename), 'r') as json_file:
                match_timeline = json.load(json_file)

            # Create an INSERT statement for the match_timeline
            stmt = insert(match_timeline_table).values(region=region, match_id=match_id, timeline_json=match_timeline)

            # Execute the statement and increment the total_rows_added by the number of rows affected
            try:
                result = connection.execute(stmt)
                rows_added = result.rowcount
                total_rows_added += rows_added
                print(f"Rows added: {rows_added}")
            except Exception as e:
                print(f"Error occurred when executing INSERT statement: {e}")

print(f"Total rows added: {total_rows_added}")

Error occurred when executing INSERT statement: (psycopg2.errors.UndefinedColumn) column "region" of relation "MATCH_TIMELINE" does not exist
LINE 1: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_jso...
                                      ^

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4334085229, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4334085229", "participants": ["pEzq-TwsSVlh_qVqqKbSP-LcHaCSlPSHzYoksh86q-DzJ3F1-uOXY-VL_v4oKc7WsXzN ... (767365 characters truncated) ... iGxzfH7DGxAcBpuFpUDFIoDylKtvCg"}, {"participantId": 10, "puuid": "lbpYhDIEMOhsFmgtcg8JgiJ3ONencq5fiKJqxWxwE4HCpXK3jnUZV9CInwqsNzwFLE9ztahbpg4zhw"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/f405)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 3720451304, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_3720451304", "participants": ["q75zZ5UBHxu3CCs2u3ROwRdXVLlqmWWIkHIC30mmFDNsy-QO1rSBs6xg95hRs13_m96e ... (394171 characters truncated) ... "participantId": 10, "position": {"x": 6856, "y": 1003}, "timeEnemySpentControlled": 51625, "totalGold": 5323, "xp": 6196}}, "timestamp": 1212754}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 3999408652, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_3999408652", "participants": ["VlpVauZCgnHSZP3EkKVviterCBOIYJaWl_J11wQhRczmOzml7MrtGer6gwwwG17fs1YS ... (785664 characters truncated) ... zYusV5qIySoTRiqy0uFy8zQAhx4JGw"}, {"participantId": 10, "puuid": "yWqMfASSUDnSlUGx8m8xMcZckPUzT-z3dweHaTVOYG_RrfiEo9mdr_suavF7NXxBXV9EVW3xMTB1ng"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4730272790, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4730272790", "participants": ["YugR9P-6kAAo5R_ri5e2wTRi-wm9rtdMu8qjr742ilg2hb2YcLwjYRsCcU-yWHlps0Oq ... (361165 characters truncated) ... 9_mZtKHDOpInEGjGO5-5FZzFna-dDHg"}, {"participantId": 8, "puuid": "c4pEjZ3B_xHDQKXCz4ZooY10kgP5AAtCbqg0MqdXKaEh8tr3Ks37mvfx2Y6zJKZA-aq2VAnAjw5v2g"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4729028871, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4729028871", "participants": ["8R4mrUNHWSUFQsZ8l8k7Y5O5ikqge7k0dCDYfoDN5lZgaKeZgy4LXr5NW55kyV2ldHmX ... (659731 characters truncated) ... D9zoCYkRo0wZp4HzscVTpqX9olJ82Q"}, {"participantId": 10, "puuid": "rOra4jm75Nj0y4-_7D7MVRfiBlpBXhpSonyI0rwwFacc0uV9fg2HC7PgC_nNJZ1WCXFL_EfTBrDLwQ"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4316964052, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4316964052", "participants": ["lnMmSlO27sHd6L0HgrYS5ivq8XMQDocSZytgMXsqMeu0dg3BiGxzfH7DGxAcBpuFpUDF ... (495820 characters truncated) ... i6cDoQIjtR-FMvUiLAqd93AEo4PcQQ"}, {"participantId": 10, "puuid": "JccwRViKxm8aVzKe9QNYYp3uwBE9tWzkh24NpF8uvHl2QPkSgwfxoGxw5Njplh1IdF0vYSZzHa1OUQ"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4144801485, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4144801485", "participants": ["BZPaMrq5uGV19BZSssEcKIibZGNR67MP6m1z7xzBtj3wfbV7ofyJAvTdVoS0WQOLPkpc ... (520398 characters truncated) ... 77DrMRvggK-kfYMRjouZ2ebKTZlS3A"}, {"participantId": 10, "puuid": "dwHeQMe87Gk51H_Kt_l5liaL4DZzgvKHqq-JKh0nOAQr2NxgCYInHS_0nETXwnJi7bZyneH_2wa9EA"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4730458896, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4730458896", "participants": ["vRz9RPnMQ7uwkTVnNBZEF0F2ghwP9T_Xs_3hxKBdVrb4w0RSk3BTmbkGd4K866TivqC0 ... (336342 characters truncated) ... 3cUHoRD2TE8Cz6HZQpxh0EN4mNNsDZA"}, {"participantId": 8, "puuid": "3Pcl6dDQgwUAFUETCIS13Xhmyl3AYqulzk2dI0dovCP9SmQ0SLvA3ZHJrQjz-z-neBqsITGmxGCQdg"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4729236700, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4729236700", "participants": ["QaMyzwce1Spg3kGa1WELz9x70NJ6Qf-wfXOCiSBqoD_ViZb_-RpAK2RhZs3uU_mj3TYP ... (612457 characters truncated) ... kWJT215GCTsapj1tP5CdV0zjv5nb3A"}, {"participantId": 10, "puuid": "OiFDKacWZ-nglPw0fn4k078C9NDZIoWAB0hp-M9w14Lz-9LViu2i5a7sgI-HJ_mP6DefvUn5X17eQQ"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4732725106, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4732725106", "participants": ["9WxqO6koHxWnXtQKs1sWykqZQKKAaa3WVM54k9rTDteprpE5ma7naDvexivO4Ropc99g ... (499713 characters truncated) ... 0yqKShPqj8UZ6bpsTb_A98njIB9poA"}, {"participantId": 10, "puuid": "bwPbBtFcqBWIlJyOJw9K27Di9Uv5EDQYfYJoXRjzAP9l5pOucUrCfgkYfzpWl-7AsPcuRxeOMA7_5A"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4731598809, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4731598809", "participants": ["v3Flc6j5_XwEwlPSAufDBvyP8NckRMK5kNl6shE7ECfHcD4z2bd3W-le3KCMJdGQDfqP ... (349244 characters truncated) ... EhI5F4iyKMLBEu2atPeJFH_uFD_eD8w"}, {"participantId": 8, "puuid": "bdqs6XvUImc6niJNU5xNZaSZLi0r1AeATyTNmqoYuMy5g8tkLjC_WhmdCMwA7HyoBwfrVBYvDchBEw"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4317000585, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4317000585", "participants": ["Gq5v1oxl6sJDjzXaXf8iqB250HwrqWAWEZXvqhoLLgG27Xqs0gor-V4mkpEEo-j5E1MH ... (339609 characters truncated) ... iGxzfH7DGxAcBpuFpUDFIoDylKtvCg"}, {"participantId": 10, "puuid": "IBYgEKM49DrXdTnVrEPNpLvj0mztnZGoHCEEPTay8c8Nak_AvZz04dyJzJY3R13dtTt4VGIlUf0xjw"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4733176682, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4733176682", "participants": ["H0FoKjDfEiQl-JmAqpEoRRyeDA-_hBpWZrkiZ5xdyXJsmYA8csS9AYIFclZSmnxCxevD ... (520797 characters truncated) ... uls-DI9ZOgRqcc5Sy2dB6hd_eDPYgg"}, {"participantId": 10, "puuid": "3w5GoqCaMPMFxLJkgFHyKitfjHq-adowq6U5QqI7V--nfb_owYpa9548Wkb3D9IBRx-46Czs1-3l7A"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4661776183, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4661776183", "participants": ["e0NaPrJJfQibxCqXvJYGI6LKaHAKGOKDkF64KNKU1zR-UeF27vZ1cTdZZgdOWqVOEUS3 ... (568778 characters truncated) ... DXYQ9ab61xcduJDYPoArjLLIq2S8ow"}, {"participantId": 10, "puuid": "DPkCTjVOenQVtXjj_Qnh8UVyDagPt8CT0tgHv-7Csf1csGO_7TCKb5blKDganRhMaKvJPuH5k_LdOw"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4732158712, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4732158712", "participants": ["86n-VeifcqXCuziCU_3rTLrFHttMOh1wG3hrUtA33NBeYdP4cVH03orXVS0MIUE4yTG4 ... (562280 characters truncated) ... vxic4CzjguTzE73sphxwHHJwV_46Gw"}, {"participantId": 10, "puuid": "W1uwyN0w-ZXsxOBo7_igFq7IJEkb-M-ThFTcomXt0aWRrCoNYtgqBPZqqty1fe__DgJRg_OiJuBTtg"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 3721689378, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_3721689378", "participants": ["B71BX26Th1oizVIHT93UritFTgFiuv2SDE5ewG9lN9-L2egNLwlvwjAjxNsAuLzuTebu ... (726740 characters truncated) ... rticipantId": 10, "position": {"x": 2011, "y": 1815}, "timeEnemySpentControlled": 113645, "totalGold": 11558, "xp": 14206}}, "timestamp": 2231006}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4733221817, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4733221817", "participants": ["86n-VeifcqXCuziCU_3rTLrFHttMOh1wG3hrUtA33NBeYdP4cVH03orXVS0MIUE4yTG4 ... (702988 characters truncated) ... 5gBZd4D83bLAgjGUGLg9jK3PE1ZE9w"}, {"participantId": 10, "puuid": "RKERjiXwF7gcBbHGuoc35jmKTFzNSuknfqaYWxnnxTFLRpKlCfwtaV_srLUMWhNcnO01udM5btJ2Hw"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4729288774, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4729288774", "participants": ["rOra4jm75Nj0y4-_7D7MVRfiBlpBXhpSonyI0rwwFacc0uV9fg2HC7PgC_nNJZ1WCXFL ... (660177 characters truncated) ... Z_QC6jQ0PFhOkw_-5uVb2r_BGPxZag"}, {"participantId": 10, "puuid": "SInVzsr3ciAUVT18N3ocEGSyWj2LyQtRO_xcRWibUhnr9SAGLc0r_UTJke9P_MhVEZEFldH8BEeoww"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4716426808, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4716426808", "participants": ["qxllvOnq8Qpo9X06kcdlz-0cJOiuRwZa6Dki_MWLlGhrd915qMnw-GPNCKGXPw7yEkZU ... (637489 characters truncated) ... IDGPygtwHllo2G_Qd7LKGwjP8em8gg"}, {"participantId": 10, "puuid": "Tq8fIAaoIRIEYVKl3vB9xzxIWlOKPd6zyr7HdHcG5Mt8OONQMtyiVMXAvrVY_NbSHs5EN5h8lMTRCg"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4731630308, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4731630308", "participants": ["oDl_OoitqafUUi5PUQThFbYF9JGWMn8nem1NhrP0neEWj9O9d8cUMDfiJu3VbKJOOC36 ... (342063 characters truncated) ... v_goGDKXygnXtSHl8FTLKdKAI3h3mUA"}, {"participantId": 8, "puuid": "6KnFnHG4FVdBNXXOzukYIRRqUNmyZ4EAp7aWH2msH73tYt6snQeuYcc5pUIAPojUiXfsxTCok06t_Q"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4732075515, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4732075515", "participants": ["cQb5AnIO2TiolkwKWu-oTRkixvHKjBhqQdMAC03sa2mnklXzaKxuCW0NyFkJXPNtCgeF ... (733853 characters truncated) ... W2WKV6vTNrJckBf6c90avE_uViv-Zw"}, {"participantId": 10, "puuid": "DFxk0GPRkCOTOz156ByCqRx3fouepW4FkQzH3USiZrF9t6nkLvqke7qVBu5dwVUoVcnQua6sgkZDkQ"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4732635752, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4732635752", "participants": ["_56AxWqiW4coIJAqZADo9ZsXB1YhIeE6WoTnh-Oy72kC9eqH-NiFrMEho5M_NPMiu6lf ... (765436 characters truncated) ... pEk4F31gGSP_j1iKizpBecQRWRMV3w"}, {"participantId": 10, "puuid": "5-yJ4aM3iJQ6sSHG52gdEhtnGKRvrQNAPsc6rWmUUEd4HCwfxK-pfIO2XXLCKlmihzX-NaDw8hm6xw"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4731700781, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4731700781", "participants": ["tJZmEqfLSXMK7hfwmJXvv3LHCBH8vjMPJ8__ZzitcO6DIjdpT_qxMKl0CPvXQ0WAPy35 ... (304453 characters truncated) ... weQZJJa9CN7VnDdE-PvqFMJvl8wyxCA"}, {"participantId": 8, "puuid": "fWQZA6sEImTLFGv0hqO57Ds1VXHtVN39yVT6c-GEBQWg6-o10wMAbRQHFkjfYBYXw-iXRqAKeHAS7A"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4732269793, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4732269793", "participants": ["kqIrjD9TYBTl-Guj_xEKkyJS7tCBNo0rIhdGBdaP-NMoEpsPedrmqUvMrvII_u5508ru ... (361049 characters truncated) ... O8OsjRhWpaNWTJ_byPdoLhalGzyyf3A"}, {"participantId": 8, "puuid": "mM2vZrGrR-y4ba6VbNE1bwpBx2IPfd7V7JByBCy0vd800xHoJSwbYCX8I9vmSQ7sjYAiwp9rQ71Zqw"}]}}'}]
(Background on this error at: https://sqlalche.me/e/20/2j85)
Error occurred when executing INSERT statement: (psycopg2.errors.InFailedSqlTransaction) current transaction is aborted, commands ignored until end of transaction block

[SQL: INSERT INTO "MATCH_TIMELINE" (region, match_id, timeline_json) VALUES (%(region)s, %(match_id)s, %(timeline_json)s) RETURNING "MATCH_TIMELINE".id]
[parameters: {'region': 'NA1', 'match_id': 4729253603, 'timeline_json': '{"metadata": {"dataVersion": "2", "matchId": "NA1_4729253603", "participants": ["AaOpm3rqhbedQ9KuIkHXgD013ghONxq8PWqKN6XOUp6WH8efwIxWIhFJgv-al9OxLwbt ... (654097 characters truncated) ... YNSC1HzhgEokTPGL4IbJsemsonmDUg"}, {"participantId": 10, "puuid": "TfTDxPG2H2qnywe2FWpP88NgvEWGcKTaGquPsCzwwI0OVNoXMN1-1faxeUmIb2lMw160LxvPvA41JQ"}]}}'}]

In [ ]:
# import json
# league_id = '008da363-45af-4a07-87d2-f22567e27213'

# summoner_ids = get_summoner_ids_from_league_id(league_id)

# puuid = get_puuid_by_summon_id(summoner_ids[0])

# match_ids = get_match_ids_by_puuid(puuid)

# match_timeline = get_match_timeline(match_ids[0])

# timeline_events = extract_events_from_timeline(match_timeline)