In [1]:
# league IDs
# https://canisback.com/leagueId/

import pandas as pd
import requests

url = 'https://canisback.com/leagueId/league_na1.csv'
response = requests.get(url, verify=False)

# Save the response content to a file
with open('league_na1.csv', 'w') as file:
    file.write(response.text)

# Read the CSV file using pandas
na1_csv = pd.read_csv('league_na1.csv')
league_dict = {}

tiers = na1_csv.tier.unique()

for tier in tiers: 
    leagues_in_tier = na1_csv[na1_csv['tier'] == tier]
    league_dict[tier] = leagues_in_tier

# Rate Limits:
# 20 requests every 1 seconds(s)
# 100 requests every 2 minutes(s)


# TODO: def checkRateLimit():

/home/nolan/miniconda3/envs/data-sci-pipeline/lib/python3.11/site-packages/urllib3/connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'canisback.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [2]:
league_id = '6d40beb9-9799-461c-b64e-53ad7c5f8a20'

from get_summoner_ids_from_league_id import get_summoner_ids_from_league_id
summoner_ids = get_summoner_ids_from_league_id(league_id)

from get_puuid_by_summon_id import get_puuid_by_summon_id
puuid = get_puuid_by_summon_id(summoner_ids[0])

from get_match_ids_by_puuid import get_match_ids_by_puuid
match_ids = get_match_ids_by_puuid(puuid)

from get_match_timeline import get_match_timeline
match_timeline = get_match_timeline(match_ids[0])

from extract_events_from_timeline import extract_events_from_timeline
timeline_events = extract_events_from_timeline(match_timeline)

In [3]:
from wrangle_df_for_sql import wrangle_df_for_sql

wrangle_df_for_sql(timeline_events)

,realTimestamp,timestamp,type,level,participantId,itemId,levelUpType,skillSlot,afterId,beforeId,...,multiKillLength,buildingType,laneType,teamId,towerType,gameId,winningTeam,assistingParticipants,x_position,y_position
0,1.683009e+12,0,PAUSE_END,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
1,1.683009e+12,518,LEVEL_UP,2.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
2,1.683009e+12,518,LEVEL_UP,3.0,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
3,1.683009e+12,518,LEVEL_UP,2.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
4,1.683009e+12,518,LEVEL_UP,3.0,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,1.683010e+12,1332887,CHAMPION_KILL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1987.0,744.0
973,1.683010e+12,1333253,CHAMPION_KILL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1125.0,1931.0
974,1.683010e+12,1336887,CHAMPION_KILL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6, 7",1688.0,612.0
975,1.683010e+12,1341388,WARD_PLACED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
976,1.683010e+12,1349055,GAME_END,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.645037e+09,200.0,None,NaN,NaN

In [2]:
import numpy as np
game_event_df = timeline_events
# Count the number of missing values in each column
missing_values = game_event_df.isna().sum()

# Calculate the total number of elements in the DataFrame
total_elements = np.prod(game_event_df.shape)

# Calculate the sparsity as the proportion of missing values
sparsity = missing_values.sum() / total_elements

# Calculate the sparsity percentage
sparsity_percentage = sparsity * 100

print(f"The sparsity of game_event_df is: {sparsity_percentage:.2f}%")

The sparsity of game_event_df is: 82.79%